name: Packer
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      vm_id: 
        required: true
        type: number
      os_type: 
        required: false
        type: string
        default: linux
    secrets:
      proxmox_host:
        required: true
      proxmox_user:
        required: true
      proxmox_password:
        required: true
jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Use Packer
        uses: hashicorp-contrib/setup-packer@v3
        with:
          # renovate: githubReleaseVar repo=hashicorp/packer
          packer-version: 1.14.1
      - name: Install mkisofs
        run: sudo apt update && sudo apt install -y mkisofs
      - name: Build image from template
        env:
          PKR_VAR_proxmox_host: ${{ secrets.proxmox_host }}
          PKR_VAR_proxmox_user: ${{ secrets.proxmox_user }}
          PKR_VAR_proxmox_password: ${{ secrets.proxmox_password }}
          PKR_VAR_node: proxmox
          PKR_VAR_pool: Templates
          PKR_VAR_iso_download: "true"
          PKR_VAR_iso_download_pve: "true"
          PKR_VAR_vmid: ${{ inputs.vm_id }}
          PACKER_KEY_INTERVAL: 100ms
        run: |
          packer init config.pkr.hcl
          packer build -var-file="${{ inputs.name }}.pkrvars.hcl" -force .
