name: Windows-Server-2022
on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: ['windows-server-2022.pkrvars.hcl']
jobs:
  build:
    uses: ./.github/workflows/packer.yml
    with:
      name: windows-server-2022
      vm_id: 1008
      os_type: windows
    secrets:
      netbird_setup_key: ${{ secrets.NETBIRD_SETUP_KEY }}
      proxmox_host: ${{ secrets.proxmox_host }}
      proxmox_user: ${{ secrets.proxmox_user }}
      proxmox_password: ${{ secrets.proxmox_password }}
